<section
  class="skrollable skrollable-between u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1"
  src=""
  id="sec-c8b7"
  data-image-width="1980"
  data-image-height="1320"
>
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <img
      class="u-image u-image-contain u-image-default u-image-1"
      src="/assets/images/r.png"
      alt=""
      data-image-width="231"
      data-image-height="143"
      data-animation-name="customAnimationIn"
      data-animation-duration="1750"
      data-animation-delay="250"
    />
    <h1
      class="u-align-center u-text u-text-1"
      data-animation-name="customAnimationIn"
      data-animation-duration="1750"
      data-animation-delay="500"
    >
      About Us
    </h1>
    <p
      class="u-align-center u-text u-text-2"
      data-animation-name="customAnimationIn"
      data-animation-duration="1500"
    >
      We recruit the smartest, most educated coaches who utilize
      state-of-the-art equipment and forward thinking methodologies. We coach
      rather than train.
    </p>
    <p
      class="u-align-center u-text u-text-3"
      data-animation-name="customAnimationIn"
      data-animation-duration="2000"
      data-animation-delay="500"
    >
      Images from
      <a
        href="https://www.freepik.com/photos/fit-girl"
        class="u-active-none u-border-1 u-border-no-left u-border-no-right u-border-no-top u-border-white u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-body-alt-color u-top-left-radius-0 u-top-right-radius-0 u-btn-1"
        target="_blank"
        >Freepik</a
      >
    </p>
    <a
      href="https://nicepage.studio"
      class="u-active-palette-2-base u-align-center u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-palette-2-base u-btn u-button-style u-hover-palette-2-base u-none u-text-active-black u-text-body-alt-color u-text-hover-black u-btn-2"
      data-animation-name="customAnimationIn"
      data-animation-duration="1500"
      data-animation-delay="500"
    >
      Book A Tour Today</a
    >
  </div>
</section>
<section class="u-align-center u-clearfix u-section-2" id="carousel_e31f">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-align-left u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1"
            data-animation-name="customAnimationIn"
            data-animation-duration="1500"
          >
            <div class="u-container-layout u-container-layout-1">
              <h2 class="u-text u-text-1">Get active, wherever you want</h2>
              <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                  <div
                    class="u-container-style u-list-item u-repeater-item u-list-item-1"
                  >
                    <div
                      class="u-container-layout u-similar-container u-container-layout-2"
                    >
                      <h3 class="u-align-left u-text u-text-default u-text-2">
                        01.&nbsp;On-site classes
                      </h3>
                      <p class="u-text u-text-3">
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </div>
                  <div
                    class="u-container-style u-list-item u-repeater-item u-list-item-2"
                  >
                    <div
                      class="u-container-layout u-similar-container u-container-layout-3"
                    >
                      <h3 class="u-align-left u-text u-text-default u-text-4">
                        02.&nbsp;Solo workout
                      </h3>
                      <p class="u-text u-text-5">
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </div>
                  <div
                    class="u-container-style u-list-item u-repeater-item u-list-item-3"
                  >
                    <div
                      class="u-container-layout u-similar-container u-container-layout-4"
                    >
                      <h3 class="u-align-left u-text u-text-default u-text-6">
                        03.&nbsp;Online
                      </h3>
                      <p class="u-text u-text-7">
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <p class="u-text u-text-8">
                Image from
                <a
                  href="https://www.freepik.com/"
                  class="u-border-1 u-border-active-palette-3-base u-border-black u-border-hover-palette-3-base u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-none u-radius-0 u-text-body-color u-top-left-radius-0 u-top-right-radius-0 u-btn-1"
                  target="_blank"
                  >Freepik</a
                >
              </p>
            </div>
          </div>
          <div
            class="u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2"
          >
            <div
              class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-5"
            >
              <div
                class="u-image u-image-circle u-image-1"
                alt=""
                data-image-width="703"
                data-image-height="920"
                data-animation-name="customAnimationIn"
                data-animation-duration="1250"
              ></div>
              <div
                class="u-palette-2-base u-shape u-shape-circle u-shape-1"
                data-animation-name="customAnimationIn"
                data-animation-duration="1250"
                data-animation-delay="500"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-3"
  src=""
  data-image-width="1980"
  data-image-height="1320"
  id="carousel_7da2"
>
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-center u-border-3 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-2-base u-container-align-left u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
        >
          <div
            class="u-container-layout u-similar-container u-container-layout-1"
          >
            <h3 class="u-align-left u-hover-feature u-text u-text-1">
              Unlimited Classes
            </h3>
            <p class="u-align-left u-hover-feature u-text u-text-2">
              Classes curated and developed by the industry’s best talent,
              bringing results through innovation.
            </p>
            <a
              href="https://nicepage.studio"
              class="u-align-left u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-feature u-none u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-1"
              data-animation-name="customAnimationIn"
              data-animation-duration="1500"
              data-animation-delay="500"
              data-animation-direction=""
              >Discover Classes</a
            >
          </div>
        </div>
        <div
          class="u-align-center u-border-3 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-2-base u-container-align-left u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-2"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
        >
          <div
            class="u-container-layout u-similar-container u-container-layout-2"
          >
            <h3 class="u-align-left u-hover-feature u-text u-text-3">
              Personal Training
            </h3>
            <p class="u-align-left u-hover-feature u-text u-text-4">
              Performance at its highest level with renowned Personal Training.
            </p>
            <a
              href="https://nicepage.best"
              class="u-align-left u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-feature u-none u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-2"
              data-animation-name="customAnimationIn"
              data-animation-duration="1500"
              data-animation-delay="500"
              data-animation-direction=""
            >
              Discover Personal Training</a
            >
          </div>
        </div>
        <div
          class="u-align-center u-border-3 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-2-base u-container-align-left u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-3"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
        >
          <div
            class="u-container-layout u-similar-container u-container-layout-3"
          >
            <h3 class="u-align-left u-hover-feature u-text u-text-5">
              Studio Pilates
            </h3>
            <p class="u-align-left u-hover-feature u-text u-text-6">
              A purely authentic Pilates experience that strengthens and creates
              balance in the body.
            </p>
            <a
              href="https://nicepage.studio"
              class="u-align-left u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-feature u-none u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-3"
              data-animation-name="customAnimationIn"
              data-animation-duration="1500"
              data-animation-delay="500"
              data-animation-direction=""
              >Discover Pilates</a
            >
          </div>
        </div>
      </div>
    </div>
    <p
      class="u-align-center u-large-text u-text u-text-variant u-text-white u-text-7"
      data-animation-name="customAnimationIn"
      data-animation-duration="1500"
      data-animation-delay="500"
    >
      Image from
      <a
        href="https://www.freepik.com/photos/people"
        class="u-active-none u-border-1 u-border-active-grey-5 u-border-hover-grey-5 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-4"
        >Freepik</a
      >
    </p>
  </div>
</section>
<section class="u-clearfix u-grey-10 u-section-4" id="carousel_90a3">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div
      class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1"
    >
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-size-22">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-align-center u-container-style u-image u-layout-cell u-size-60 u-image-1"
                    data-image-width="1380"
                    data-image-height="920"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-1"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-align-center u-container-style u-image u-layout-cell u-size-60 u-image-2"
                    data-image-width="912"
                    data-image-height="912"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-2"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-38">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-container-style u-layout-cell u-size-60 u-layout-cell-3"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                  >
                    <div
                      class="u-container-layout u-valign-top u-container-layout-3"
                    >
                      <h2 class="u-text u-text-default u-text-1">
                        We can't wait to see you at our gym!
                      </h2>
                      <p class="u-text u-text-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco. Our center features a wide variety
                        of cardiovascular and resistance equipment, including:
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-size-30">
                    <div class="u-layout-col">
                      <div
                        class="u-container-style u-layout-cell u-size-60 u-layout-cell-4"
                        data-animation-name="customAnimationIn"
                        data-animation-duration="1500"
                        data-animation-delay="500"
                      >
                        <div
                          class="u-container-layout u-valign-top u-container-layout-4"
                        >
                          <ul class="u-custom-list u-text u-text-3">
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-8049"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Treadmills
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-8049"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Ellipticals
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-8049"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Stair climbers
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-8049"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Rowers
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-8049"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Ski machines
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-8049"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Upright/recumbent bikes
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-8049"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Upper body exerciser
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-8049"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Cardio Wave
                            </li>
                          </ul>
                          <p class="u-text u-text-4">
                            Images by
                            <a
                              href="https://www.freepik.com/photos/background"
                              class="u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-none u-text-body-color u-btn-1"
                              >Freepik</a
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-30">
                    <div class="u-layout-col">
                      <div
                        class="u-container-style u-layout-cell u-size-60 u-layout-cell-5"
                        data-animation-name="customAnimationIn"
                        data-animation-duration="1500"
                        data-animation-delay="500"
                      >
                        <div class="u-container-layout u-container-layout-5">
                          <p class="u-text u-text-5">
                            Our training accessories include:
                          </p>
                          <ul
                            class="u-custom-list u-text u-text-6"
                            data-animation-name=""
                            data-animation-duration="0"
                            data-animation-delay="0"
                            data-animation-direction=""
                          >
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-76cd"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Physio balls
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-76cd"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Versa disc
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-76cd"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Body bars
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-76cd"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Medicine balls
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-76cd"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              BOSU
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-76cd"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Exercise bands
                            </li>
                            <li>
                              <div class="u-list-icon u-text-black">
                                <svg
                                  class="u-svg-content"
                                  viewBox="0 0 512 512"
                                  id="svg-76cd"
                                >
                                  <path
                                    d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              Jump ropes
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="u-clearfix u-container-align-center-sm u-container-align-center-xs u-white u-section-5"
  id="carousel_4c95"
>
  <div
    class="u-expanded-width u-grey-10 u-shape u-shape-rectangle u-shape-1"
  ></div>
  <div
    class="u-palette-3-base u-shape u-shape-rectangle u-shape-2"
    data-animation-name="customAnimationIn"
    data-animation-duration="1500"
  ></div>
  <img
    class="u-image u-image-default u-image-1"
    data-image-width="1380"
    data-image-height="920"
    src="/assets/images/346.jpg"
    data-animation-name="customAnimationIn"
    data-animation-duration="1500"
  />
  <img
    class="u-image u-image-2"
    src="/assets/images/97.jpg"
    data-image-width="1380"
    data-image-height="920"
    data-animation-name="customAnimationIn"
    data-animation-duration="1500"
    data-animation-delay="250"
  />
  <div
    class="u-align-left u-container-align-center-sm u-container-align-center-xs u-container-align-left-lg u-container-align-left-md u-container-align-left-xl u-container-style u-group u-white u-group-1"
    data-animation-name="customAnimationIn"
    data-animation-duration="1500"
    data-animation-delay="500"
    data-animation-direction=""
  >
    <div class="u-container-layout u-valign-middle u-container-layout-1">
      <h3
        class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-1"
      >
        Membership <br />With Benefits
      </h3>
      <p
        class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-grey-50 u-text-2"
        data-animation-name=""
        data-animation-duration="0"
        data-animation-delay="0"
        data-animation-direction=""
      >
        Images from
        <a
          href="https://www.freepik.com"
          class="u-active-none u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-grey-50 u-btn-1"
          target="_blank"
          data-animation-name=""
          data-animation-duration="0"
          data-animation-delay="0"
          data-animation-direction=""
          >Freepik</a
        >
      </p>
      <a
        href="https://nicepage.studio"
        class="u-active-palette-2-base u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-palette-2-base u-btn u-button-style u-hover-palette-2-base u-none u-text-active-black u-text-body-color u-text-hover-black u-btn-2"
        data-animation-name="customAnimationIn"
        data-animation-duration="1500"
        data-animation-delay="500"
        >Membership Benefits</a
      >
    </div>
  </div>
</section>
<section class="u-clearfix u-section-6" id="carousel_4ec8">
  <div
    class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1"
  >
    <div
      class="u-align-left u-container-align-left u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-white u-group-1"
      data-animation-name="customAnimationIn"
      data-animation-duration="1500"
      data-animation-delay="250"
    >
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h2 class="u-align-left u-text u-text-1">About Us</h2>
        <p class="u-align-left u-text u-text-2">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt.<br />
          <br />Image from
          <a
            href="https://www.freepik.com/photos/woman"
            class="u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-none u-text-active-black u-text-body-color u-text-hover-black u-btn-1"
            >Freepik</a
          >
        </p>
        <a
          href="https://nicepage.studio"
          class="u-active-palette-2-base u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-palette-2-base u-btn u-button-style u-hover-palette-2-base u-none u-text-active-black u-text-body-color u-text-hover-black u-btn-2"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="500"
          >Learn More</a
        >
      </div>
    </div>
    <div
      class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-20 u-layout-wrap u-layout-wrap-1"
    >
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-size-20 u-size-30-md">
            <div class="u-layout-col">
              <div
                class="u-container-style u-image u-layout-cell u-size-30 u-image-1"
                data-image-width="735"
                data-image-height="1080"
                data-animation-name="customAnimationIn"
                data-animation-duration="1500"
              >
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
              <div
                class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-size-30 u-layout-cell-2"
              >
                <div class="u-container-layout u-container-layout-3"></div>
              </div>
            </div>
          </div>
          <div class="u-size-20 u-size-30-md">
            <div class="u-layout-col">
              <div
                class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-3"
              >
                <div class="u-container-layout u-container-layout-4"></div>
              </div>
              <div
                class="u-container-style u-image u-layout-cell u-size-20 u-image-2"
                data-image-width="1000"
                data-image-height="1000"
                data-animation-name="customAnimationIn"
                data-animation-duration="750"
                data-animation-delay="500"
              >
                <div class="u-container-layout u-container-layout-5"></div>
              </div>
              <div
                class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-5"
              >
                <div class="u-container-layout u-container-layout-6"></div>
              </div>
            </div>
          </div>
          <div class="u-size-20 u-size-60-md">
            <div class="u-layout-col">
              <div
                class="u-container-style u-image u-layout-cell u-size-30 u-image-3"
                data-image-width="700"
                data-image-height="700"
                data-animation-name="customAnimationIn"
                data-animation-duration="1500"
                data-animation-delay="250"
              >
                <div class="u-container-layout u-container-layout-7"></div>
              </div>
              <div
                class="u-container-style u-image u-layout-cell u-size-30 u-image-4"
                data-image-width="769"
                data-image-height="769"
                data-animation-name="customAnimationIn"
                data-animation-duration="1500"
                data-animation-delay="500"
              >
                <div class="u-container-layout u-container-layout-8"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="u-align-center u-clearfix u-image u-shading u-section-7"
  id="sec-0ab5"
  data-image-width="1620"
  data-image-height="1080"
>
  <div
    class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1"
  >
    <span
      class="u-file-icon u-icon u-text-palette-2-base u-icon-1"
      data-animation-name="customAnimationIn"
      data-animation-duration="1000"
      ><img src="/assets/images/1077093-751aeb25.png" alt=""
    /></span>
    <h2
      class="u-text u-text-1"
      data-animation-name="slideIn"
      data-animation-duration="2000"
      data-animation-direction="Left"
    >
      See more, follow us on
    </h2>
    <h3
      class="u-text u-text-body-alt-color u-text-2"
      data-animation-name="customAnimationIn"
      data-animation-duration="1500"
    >
      Instagram
      <a
        href="https://nicepage.one"
        class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-active-white u-text-hover-white u-text-palette-2-base u-btn-1"
        target="_blank"
        >@amazingsportclub</a
      >
    </h3>
    <p
      class="u-text u-text-body-alt-color u-text-default u-text-3"
      data-animation-name="customAnimationIn"
      data-animation-duration="1500"
      data-animation-delay="500"
    >
      Image from
      <a
        href="https://www.freepik.com/photos/kick-boxing"
        class="u-active-none u-border-1 u-border-active-palette-3-base u-border-hover-palette-3-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-body-alt-color u-btn-2"
        target="_blank"
        >Freepik</a
      >
    </p>
  </div>
</section>
<section
  class="u-align-center u-clearfix u-container-align-center u-palette-2-base u-section-8"
  id="sec-6922"
>
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div
      class="u-container-style u-group u-white u-group-1"
      data-animation-name="customAnimationIn"
      data-animation-duration="1750"
      data-animation-delay="0"
    >
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h2
          class="u-align-center u-text u-text-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="500"
        >
          Contact Us
        </h2>
        <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
          <form
            action="https://forms.nicepagesrv.com/v2/form/process"
            class="u-clearfix u-form-spacing-13 u-form-vertical u-inner-form"
            style="padding: 0"
            source="email"
            name="form"
          >
            <div class="u-form-email u-form-group u-form-partition-factor-2">
              <label for="email-f18c" class="u-label">Address</label>
              <input
                type="email"
                placeholder=""
                id="email-f18c"
                name="email"
                class="u-grey-5 u-input u-input-rectangle u-input-1"
                required=""
                wfd-id="id606"
              />
            </div>
            <div class="u-form-group u-form-name u-form-partition-factor-2">
              <label for="name-f18c" class="u-label">Name</label>
              <input
                type="text"
                placeholder="Enter your Name"
                id="name-f18c"
                name="name"
                class="u-grey-5 u-input u-input-rectangle u-input-2"
                required=""
                wfd-id="id607"
              />
            </div>
            <div
              class="u-form-group u-form-partition-factor-2 u-form-phone u-form-group-3"
            >
              <label for="phone-cbff" class="u-form-control-hidden u-label"
                >Phone</label
              >
              <input
                type="tel"
                pattern="\+?\d{0,2}[\s\(\-]?([0-9]{3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})"
                placeholder="Enter your phone (e.g. +14155552675)"
                id="phone-cbff"
                name="phone"
                class="u-grey-5 u-input u-input-rectangle u-input-3"
                required=""
                wfd-id="id608"
              />
            </div>
            <div
              class="u-form-date u-form-group u-form-partition-factor-2 u-form-group-4"
            >
              <label for="date-33f9" class="u-label">Date</label>
              <input
                type="text"
                placeholder=""
                id="date-33f9"
                name="date"
                class="u-grey-5 u-input u-input-rectangle u-input-4"
                required=""
                data-date-format="mm/dd/yyyy"
              />
            </div>
            <div class="u-form-group u-form-message u-form-group-5">
              <label for="message-1015" class="u-label">Message</label>
              <textarea
                placeholder="Enter your message"
                rows="4"
                cols="50"
                id="message-1015"
                name="message-1"
                class="u-grey-5 u-input u-input-rectangle u-input-5"
                required=""
              ></textarea>
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a
                href="#"
                class="u-black u-btn u-btn-submit u-button-style u-btn-1"
                >Submit</a
              >
              <input
                type="submit"
                value="submit"
                class="u-form-control-hidden"
                wfd-id="id610"
              />
            </div>
            <div class="u-form-send-message u-form-send-success">
              Thank you! Your message has been sent.
            </div>
            <div class="u-form-send-error u-form-send-message">
              Unable to send your message. Please fix errors then try again.
            </div>
            <input
              type="hidden"
              value=""
              name="recaptchaResponse"
              wfd-id="id611"
            />
            <input
              type="hidden"
              name="formServices"
              value="7fc460af-5911-a899-cee4-663c6f04ed3b"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
