<form class="form-content" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="title">Reset your password</h1>
  <p>Enter the email address associated with your Shape of you! account</p>
  <div class="toggle">
    Don't have an account? <a routerLink="/auth">Sign Up</a>
  </div>
  <app-input
  [form]="form"
  [placeHolder]="'Enter an email address'"
  [type]="'email'"
  [id]="'email'"
  [formControlName]="'email'"
  ></app-input>
  <app-button
    [name]="'Sign In'"
    [type]="'submit'"
    [fullWidth]="true"
    [disabled]="form.invalid"
  ></app-button>
</form>
