<section class="skrollable skrollable-between u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1" src="" id="sec-c8b7" data-image-width="1747" data-image-height="1080">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <img class="u-image u-image-contain u-image-default u-image-1" src="/assets/images/r.png" alt="" data-image-width="231" data-image-height="143" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="250">
      <h1 class="u-align-center u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500"> Meet Our Trainers</h1>
      <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500"> We recruit the smartest, most educated coaches who utilize state-of-the-art equipment and forward thinking methodologies. We coach rather than train. </p>
      <p class="u-align-center u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="500">Images from <a href="https://www.freepik.com/photos/fit-girl" class="u-active-none u-border-1 u-border-no-left u-border-no-right u-border-no-top u-border-white u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-body-alt-color u-top-left-radius-0 u-top-right-radius-0 u-btn-1" target="_blank">Freepik</a>
      </p>
      <a href="https://nicepage.studio" class="u-align-center u-border-2 u-border-palette-2-base u-btn u-button-style u-palette-2-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Book A Tour Today</a>
    </div>
  </section>
  <section class="u-clearfix u-container-align-center u-valign-middle u-section-2" id="carousel_8787">
    <h2 class="u-align-center u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">Meet The Team</h2>
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <div alt="" class="u-image u-image-circle u-image-1" data-image-width="227" data-image-height="227" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
            <h5 class="u-align-center u-text u-text-2">Jeffrey Brown</h5>
            <p class="u-align-center u-text u-text-default u-text-grey-60 u-text-3"> Head Coach &amp; Head of Programming</p>
            <a href="https://nicepage.com/c/gallery-website-templates" class="u-active-black u-align-center u-border-none u-btn u-button-style u-hover-black u-palette-2-base u-text-active-white u-text-hover-white u-btn-1">Bio</a>
          </div>
        </div>
        <div class="u-align-center u-container-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
            <div alt="" class="u-image u-image-circle u-image-2" data-image-width="227" data-image-height="227" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
            <h5 class="u-align-center u-text u-text-4">Chris Richmond</h5>
            <p class="u-align-center u-text u-text-default u-text-grey-60 u-text-5"> Coach &amp; General Manager</p>
            <a href="https://nicepage.com/templates" class="u-active-black u-align-center u-border-none u-btn u-button-style u-hover-black u-palette-2-base u-text-active-white u-text-hover-white u-btn-2">Bio</a>
          </div>
        </div>
        <div class="u-align-center u-container-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <div alt="" class="u-image u-image-circle u-image-3" data-image-width="227" data-image-height="227" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
            <h5 class="u-align-center u-text u-text-6"> Jennie Roberts</h5>
            <p class="u-align-center u-text u-text-default u-text-grey-60 u-text-7"> Coach</p>
            <a href="https://nicepage.online" class="u-active-black u-align-center u-border-none u-btn u-button-style u-hover-black u-palette-2-base u-text-active-white u-text-hover-white u-btn-3">Bio</a>
          </div>
        </div>
        <div class="u-align-center u-container-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
            <div alt="" class="u-image u-image-circle u-image-4" data-image-width="227" data-image-height="227" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
            <h5 class="u-align-center u-text u-text-8">Alex Greenfield</h5>
            <p class="u-align-center u-text u-text-default u-text-grey-60 u-text-9">Crossfit Guru</p>
            <a href="https://nicepage.com/one-page-template" class="u-active-black u-align-center u-border-none u-btn u-button-style u-hover-black u-palette-2-base u-text-active-white u-text-hover-white u-btn-4">Bio</a>
          </div>
        </div>
        <div class="u-align-center u-container-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
            <div alt="" class="u-image u-image-circle u-image-5" data-image-width="227" data-image-height="227" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
            <h5 class="u-align-center u-text u-text-10">Amanda Smith</h5>
            <p class="u-align-center u-text u-text-default u-text-grey-60 u-text-11">Coach</p>
            <a href="https://nicepage.one" class="u-active-black u-align-center u-border-none u-btn u-button-style u-hover-black u-palette-2-base u-text-active-white u-text-hover-white u-btn-5">Bio</a>
          </div>
        </div>
        <div class="u-align-center u-container-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
            <div alt="" class="u-image u-image-circle u-image-6" data-image-width="227" data-image-height="227" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
            <h5 class="u-align-center u-text u-text-12">Nick Davis</h5>
            <p class="u-align-center u-text u-text-default u-text-grey-60 u-text-13">Coach</p>
            <a href="https://nicepage.com/templates" class="u-active-black u-align-center u-border-none u-btn u-button-style u-hover-black u-palette-2-base u-text-active-white u-text-hover-white u-btn-6">Bio</a>
          </div>
        </div>
        <div class="u-align-center u-container-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-7" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
            <div alt="" class="u-image u-image-circle u-image-7" data-image-width="227" data-image-height="227" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
            <h5 class="u-align-center u-text u-text-14">Megan Convay</h5>
            <p class="u-align-center u-text u-text-default u-text-grey-60 u-text-15">Coach</p>
            <a href="https://nicepage.com/k/home-improvement-website-templates" class="u-active-black u-align-center u-border-none u-btn u-button-style u-hover-black u-palette-2-base u-text-active-white u-text-hover-white u-btn-7">Bio</a>
          </div>
        </div>
        <div class="u-align-center u-container-align-center u-container-style u-grey-10 u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-8" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-8">
            <div alt="" class="u-image u-image-circle u-image-8" data-image-width="227" data-image-height="227" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
            <h5 class="u-align-center u-text u-text-16">Patrik Frank</h5>
            <p class="u-align-center u-text u-text-default u-text-grey-60 u-text-17">Coach</p>
            <a href="https://nicepage.com/c/contacts-website-templates" class="u-active-black u-align-center u-border-none u-btn u-button-style u-hover-black u-palette-2-base u-text-active-white u-text-hover-white u-btn-8">Bio</a>
          </div>
        </div>
      </div>
    </div>
    <p class="u-align-center u-text u-text-default-lg u-text-default-xl u-text-18" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Images by <a href="https://www.freepik.com/photos/people" class="u-border-1 u-border-active-palette-2-base u-border-black u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-none u-text-body-color u-btn-9" target="_blank">Freepik</a>
    </p>
  </section>
  <section class="u-align-center u-clearfix u-container-align-center u-palette-2-base u-section-3" id="sec-6922">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-container-style u-group u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="0">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h2 class="u-align-center u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Contact Us</h2>
          <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-13 u-form-vertical u-inner-form" style="padding: 0;" source="email" name="form">
              <div class="u-form-email u-form-group u-form-partition-factor-2">
                <label for="email-f18c" class="u-label">Address</label>
                <input type="email" placeholder="" id="email-f18c" name="email" class="u-grey-5 u-input u-input-rectangle u-input-1" required="" wfd-id="id234">
              </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="name-f18c" class="u-label">Name</label>
                <input type="text" placeholder="Enter your Name" id="name-f18c" name="name" class="u-grey-5 u-input u-input-rectangle u-input-2" required="" wfd-id="id235">
              </div>
              <div class="u-form-group u-form-partition-factor-2 u-form-phone u-form-group-3">
                <label for="phone-cbff" class="u-form-control-hidden u-label">Phone</label>
                <input type="tel" pattern="\+?\d{0,2}[\s\(\-]?([0-9]{3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Enter your phone (e.g. +14155552675)" id="phone-cbff" name="phone" class="u-grey-5 u-input u-input-rectangle u-input-3" required="" wfd-id="id236">
              </div>
              <div class="u-form-date u-form-group u-form-partition-factor-2 u-form-group-4">
                <label for="date-33f9" class="u-label">Date</label>
                <input type="text" placeholder="" id="date-33f9" name="date" class="u-grey-5 u-input u-input-rectangle u-input-4" required="" data-date-format="mm/dd/yyyy">
              </div>
              <div class="u-form-group u-form-message u-form-group-5">
                <label for="message-1015" class="u-label">Message</label>
                <textarea placeholder="Enter your message" rows="4" cols="50" id="message-1015" name="message-1" class="u-grey-5 u-input u-input-rectangle u-input-5" required=""></textarea>
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a href="#" class="u-black u-btn u-btn-submit u-button-style u-btn-1">Submit</a>
                <input type="submit" value="submit" class="u-form-control-hidden" wfd-id="id238">
              </div>
              <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
              <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
              <input type="hidden" value="" name="recaptchaResponse" wfd-id="id239">
              <input type="hidden" name="formServices" value="7fc460af-5911-a899-cee4-663c6f04ed3b">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>