<header class="h-header">
  <div class="h-sheet">
    <a href="https://stripo.com" class="h-logo">
      <img src="assets/images/logo.png" class="h-logo-img" />
    </a>
    <nav class="h-menu">
      <div class="menu-wrapper">
        <ul class="menu-list">
          <li class="menu-list-item">
            <a routerLinkActive="active" routerLink="main">Main</a>
          </li>
          <li class="menu-list-item">
            <a routerLinkActive="active" routerLink="landing">Landing</a>
          </li>
          <li class="menu-list-item">
            <a routerLinkActive="active" routerLink="portfolio">Portfolio</a>
          </li>
          <li class="menu-list-item">
            <a routerLinkActive="active" routerLink="about-us">About Us</a>
          </li>
          <li class="menu-list-item">
            <a routerLinkActive="active" routerLink="team">Team</a>
          </li>
          <li class="menu-list-item">
            <a routerLinkActive="active" routerLink="contact-us">Contact Us</a>
          </li>
          <li class="menu-list-item">
            <a class="login" routerLink="/auth">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
