<header class="h-header">
  <div class="h-sheet">
    <a href="https://stripo.com" class="h-logo">
      <img src="assets/images/logo.png" class="h-logo-img" />
    </a>
    <nav class="h-menu">
      <div class="menu-wrapper">
        <ul class="menu-list">
          <li class="menu-list-item">
            <a routerLink="">Main</a>
          </li>
          <li class="u-nav-item">
            <a routerLink="landing">Landing</a>
          </li>
          <li class="u-nav-item">
            <a routerLink="portfolio">Portfolio</a>
          </li>
          <li class="u-nav-item">
            <a href="About-Us.html">About Us</a>
          </li>
          <li class="u-nav-item">
            <a href="Team.html">Team</a>
          </li>
          <li class="u-nav-item">
            <a href="Contact-Us.html">Contact Us</a>
          </li>
          <li class="u-nav-item">
            <a class="login" routerLink="/auth">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
